body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4b1248;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #4b1248;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.banner {
    background-image: url('');
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2rem;
}

.content-section {
    padding: 0px;
    display: flex;
    justify-content: space-around;
}

.content-section div {
    text-align: center;
    padding: 20px;
}

.content-section img {
    width: 100px;
    height: 100px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
